<div class="jumbotron">
    <h1>JWT Experiment</h1>
    <p class="lead">Login with Facebook to view the list of our popular Bears.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign in now</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Get List of Bears</h4>
        <p>View the list of our popular bears and select from them.</p>
    </div>

    <div class="col-lg-6">
        <h4>Take them home</h4>
        <p>Select one, take it home. They are awesome!</p>
    </div>
</div>